<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form method="post">
            <textarea name="news" rows="10" cols="75" autofocus required>{{ news }}</textarea>
            <input type="submit" value="Check"/>
            <span style="color:{% if status == 'This is fake news!' %}red{% else %}blue{% endif %}"><h2>{{ status }}</h2></span>
        </form>
    </body>
</html>
